:root {
  --text: #e7e4e9;
  --background: #120d16;
  --background-accent: #0d0910;
  --primary: #be9ad5;
  --secondary: #5a237f;
  --accent: #a74de2;
  --primary-accent-shade: #581584;
  --secondary-accent-shade: #49126e;
}
